<div nevy11Row>
  <div nevy11Col>
    <div nevy11My [my]="3" nevy11H [header]="'h4'" nevy11Center>history</div>
    <div>
      over the past few years, Laikipia University has been operating at a high
      knowlegable rate teaching over 1 million students to become the best.
      Surprisingly only few managed to become the best
    </div>
  </div>
  <div nevy11Col>
    <div nevy11My [my]="3" nevy11H [header]="'h4'" nevy11Center>Accuracy</div>
    <div>
      The accuracy of this Laikipia AI is incredible you can ask any question to
      the artificial Intelligence
    </div>
  </div>
  <div nevy11Col>
    <div nevy11My [my]="3" nevy11H [header]="'h4'" nevy11Center>navigation</div>
    <div>
      You can easily navigate the school's laikipia portal and other school
      services thanks to the help of this Artificial intellligece. "The
      transformer app is also one of the best in Kenya", samuel Ongwae.
    </div>
  </div>
</div>
<br />

<button mat-flat-button nevy11Btn [bgColor]="'black'" [textColor]="'white'">
  Get Started
</button>
<br />
