<div class="footer">
  <div style="margin-left: 2.5rem; margin-right: 2.5rem">
    <div nevy11Row>
      <div nevy11Col>
        <mat-list>
          <mat-list-item> Portal </mat-list-item>
          <mat-list-item>Official Website</mat-list-item>
          <mat-list-item> Login </mat-list-item>
        </mat-list>
      </div>

      <div nevy11Col>
        <mat-list>
          <mat-list-item>signUp</mat-list-item>
          <mat-list-item> Library </mat-list-item>
          <mat-list-item>Help Center</mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
</div>
