<div
  class="chat-container"
  fxLayout="column"
  fxLayoutAlign="space-between stretch"
>
  <mat-card class="chat-window">
    <mat-card-header>
      <mat-card-title>Live Chat</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="chat-messages" *ngFor="let message of messages">
        <div
          class="message"
          [ngClass]="{
            'user-message': message.user === 'Me',
            'bot-message': message.user !== 'Me'
          }"
        >
          <span
            ><strong>{{ message.user }}:</strong> {{ message.text }}</span
          >
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <div class="chat-input-area" fxLayout="row">
    <mat-form-field class="chat-input" fxFlex="80">
      <mat-label>Enter some input</mat-label>

      <input
        matInput
        placeholder="Type your message..."
        [(ngModel)]="newMessage"
        (keyup.enter)="sendMessage()"
      />
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      (click)="sendMessage()"
      class="my-button"
    >
      Send
    </button>
  </div>
</div>
