<br />
<div nevy11H style="margin-top: 5rem" [header]="'h2'">
  <div nevy11Center>
    LCP gpt for learning leading to a better informed society
  </div>
</div>
<div nevy11Center nevy11My [my]="5">
  <div nevy11Center style="margin-top: 5rem; margin-bottom: 5rem">
    The chat gpt Laikipia University app that enables you to gain more
    information about Laikipia University
  </div>
</div>

<div nevy11Center class="btn" style="margin-bottom: 5rem">
  <button mat-flat-button nevy11Btn>Get Started</button>
</div>
