<div nevy11BgColor nevy11Center [bg_color]="'purple'" [text_color]="'black'">
  <br />

  <div style="margin-left: 2.5rem; margin-right: 2.5rem">
    <div nevy11Row>
      <div nevy11Col>
        <div style="margin-top: 1rem; margin-bottom: 1rem" nevy11Col>
          <div nevy11H [header]="'h2'">Ask any question</div>
        </div>
        <br />
        <div style="margin-bottom: 2rem">
          <nevy11-e-content-large></nevy11-e-content-large>
        </div>
        <div>
          <div>
            <button
              nevy11Btn
              mat-flat-button
              style="margin-bottom: 3rem; margin-top: 2rem"
            >
              Get Started
            </button>
          </div>
        </div>
      </div>

      <div nevy11Col>
        <div style="margin-top: 3rem">
          <nevy11-e-video-large></nevy11-e-video-large>
        </div>
      </div>
    </div>
  </div>
</div>
