<br />
<div nevy11H nevy11My [my]="4" [header]="'h2'">
  <div nevy11Center>LCP gpt for learning</div>

  <div nevy11Center nevy11My [my]="2" nevy11H [header]="'h2'">
    leading to a better informed society
  </div>
</div>
<div nevy11Center nevy11My [my]="5">
  <div nevy11Center nevy11My [my]="5">
    The chat gpt Laikipia University app that enables you to gain more
    information about Laikipia University
  </div>
</div>

<div nevy11Center class="btn">
  <button mat-flat-button nevy11Btn>Get Started</button>
</div>
