<br />
<div nevy11My [my]="5" nevy11H [header]="'h4'" nevy11Center>
  converting your education to intelligence with the power of LCP transformer
</div>
<div nevy11Center nevy11Mx [mx]="5">
  Get a head start of your journey, both educational and the outside world
  surviving with the power of an AI generator. The transformer contains
  information and data from first year to forth year in almost all units.
</div>
<div nevy11Center nevy11My [my]="5">
  <button mat-flat-button nevy11Btn>Get Started</button>
</div>
