<div style="margin-bottom: 2.5rem" nevy11BgColor>
  <nevy11-part-a-tablet></nevy11-part-a-tablet>
</div>
<div style="margin-top: 2.5rem; margin-bottom: 2.5rem">
  <nevy11-part-b-tablet></nevy11-part-b-tablet>
</div>
<div style="margin-top: 2.5rem; margin-bottom: 2.5rem">
  <nevy11-part-c-tablet></nevy11-part-c-tablet>
</div>
<div style="margin-top: 2.5rem; margin-bottom: 2.5rem">
  <nevy11-part-d-tablet></nevy11-part-d-tablet>
</div>
<div style="margin-top: 2.5rem; margin-bottom: 2.5rem">
  <nevy11-part-e-tablet></nevy11-part-e-tablet>
</div>
<div style="margin-top: 2.5rem; margin-bottom: 2.5rem">
  <nevy11-part-f-tablet></nevy11-part-f-tablet>
</div>
<div style="margin-top: 2.5rem; margin-bottom: 2.5rem">
  <nevy11-part-g-tablet></nevy11-part-g-tablet>
</div>
<div style="margin-top: 2.5rem; margin-bottom: 2.5rem">
  <nevy11-part-h-tablet></nevy11-part-h-tablet>
</div>
